<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>johnny depp</title>
    <link rel="stylesheet" href="./assets/hw7.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <nav class="nav-links">
      <ul class="menu">
        <li><a class="active" href="#home">Home</a></li>
        <li><a href="#news">News</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#about">About</a></li>
      </ul>
      <div class="hamburger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
    </nav>
    <div class="container">
      <div class="avatar">
        <img src="./assets/image/jonny.jpg" alt="johnny Depp" />
      </div>
      <div class="text">
        <div class="emoji">
              <h1>Hello</h1><span style="font-size:xx-large">&#128075;</span>
        </div>

        <div class="paragraph">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </p>

          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </p>

          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </p>
        </div>
      </div>
    </div>
    <hr class="line"></hr>

    <div class="bottom-header">
      <h3 style="font-family: 'Fira Code', monospace;">digitiz your business</h3>
      <p style="text-align: center;">
        i will to help you to create a remarkable first imperssion whit creative
        designs
      </p>
    </div>
  <footer class="bottom"> 
    <div class="code">
      <i class="fa fa-code" style="font-size: 36px; color: blanchedalmond;"></i>
      <h4>Web Developmant</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
        ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat.
      </p>
    </div>
    <div class="mobile">
      <i class="fa fa-mobile-phone" style="font-size:48px;color:white"></i>
      <h4>Responsive Design</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
        ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat.
      </p>
    </div>

    <div class="file">
     <i class="fa fa-file-code-o" style="font-size:36px;color:white"></i>
     <h4>PSD to HTML</h4>
     <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
      eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
      ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
      aliquip ex ea commodo consequat.
    </p>
    </div>
  </footer>
  <script src="./assets/main.js"></script>
  </body>
</html>
